{% extends "base.html.twig" %}

{% block body %}


<br>

<div class="container">

      <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-md-8">


  {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

            <div class="alert alert-success" role="alert">
            Vous etes connecter en tant que : <u>{{ user|upper }} </u> <br>
   <a href="/newPost" class="alert-link">  Cliquez ici pour Ajouter un Post </a>
</div>




            {% else %}

            <div class="alert alert-danger" role="alert">
   <a href="#" class="alert-link"> Connectez vous </a> afin d'ajouter un Post
           </div>

            {% endif %}


<br>


          {% for post in posts %}


          <!-- Blog Post -->
          <div class="card mb-4">
          <img class="img-fluid rounded" src="{{asset('uploads/images/' ~ post.image )}}">
            <div class="card-body">
              <h2 class="card-title">{{ post.titre }}</h2>
            <p class="is-small">{{ post.contenu|striptags|convert_encoding('UTF-8', 'HTML-ENTITIES')|length > 255 ? post.contenu|striptags|convert_encoding('UTF-8', 'HTML-ENTITIES')|slice(0, 255) ~ '...' : post.contenu|striptags|convert_encoding('UTF-8', 'HTML-ENTITIES')  }}</p>
              <a href="post/{{ post.slug }}" class="btn btn-primary">Read More &rarr;</a>
            </div>
            <div class="card-footer text-muted">
              Posted on {{ post.published | date('H:i') }}
              <a href="#">{{ post.Auteur}}</a>
            </div>
          </div>

          {% endfor %}


          {# display navigation #}
          <div class="navigation">
              {{ knp_pagination_render(posts) }}
          </div>


          <!-- Pagination 
          <ul class="pagination justify-content-center mb-4">
            <li class="page-item">
              <a class="page-link" href="#">&larr; Older</a>
            </li>
            <li class="page-item disabled">
              <a class="page-link" href="#">Newer &rarr;</a>
            </li>
          </ul>-->

        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->


{% endblock %}
