{% extends "base.html.twig" %}

{% block body %}


<br>



        

  {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

            <div class="alert alert-success" role="alert">
            Vous etes connecter en tant que : <u>{{ user|upper }} </u> <br>
   <a href="/newPost" class="alert-link">  Cliquez ici pour Ajouter un Post </a>
</div>




            {% else %}

            <div class="alert alert-danger" role="alert">
   <a href="/login" class="alert-link"> Connectez vous </a> afin d'ajouter un Post
           </div>

            {% endif %}


<br>

{% if posts is empty %}
          <br>
          <br>

          <p class="center" >
          <div  class="alert alert-primary" role="alert">
          Aucun résultat trouvé !!
          </div>
          </p>
            {% else %}


          {% for post in posts %}


          <!-- Blog Post -->
          <div class="card mb-5 col-md-14 ">
          <img class="img-fluid rounded" style=" height: 200px ; width:100%" src="{{asset('uploads/images/' ~ post.image )}}" onerror="this.onerror=null;this.src='https://cdn.cia-france.com/blog/img/blog-cia-france-home.jpg';">
            <div class="card-body">
              <h2 class="card-title">{{ post.titre }}</h2>
            <p class="is-small">{{ post.contenu|striptags|convert_encoding('UTF-8', 'HTML-ENTITIES')|length > 255 ? post.contenu|striptags|convert_encoding('UTF-8', 'HTML-ENTITIES')|slice(0, 255) ~ '...' : post.contenu|striptags|convert_encoding('UTF-8', 'HTML-ENTITIES')  }}</p>
              <a href="post/{{ post.slug }}" class="btn btn-primary">Lire la suite &rarr;</a>
            </div>
            <div class="card-footer text-muted">
              Posté le {{ post.published | date("m/d/Y", "Europe/Paris") }}
               Par<a href="#"> {{ post.Auteur}}</a>
            </div>
          </div>

          {% endfor %}




          <!-- Pagination 
          <ul class="pagination justify-content-center mb-4">
            <li class="page-item">
              <a class="page-link" href="#">&larr; Older</a>
            </li>
            <li class="page-item disabled">
              <a class="page-link" href="#">Newer &rarr;</a>
            </li>
          </ul>-->





{% endif %}

{% endblock %}
{% block sides %}


    <!-- Sidebar Widgets Column -->
        <div class="col-md-4">

          <!-- Search Widget -->
          <div class="card my-4">
            <h5 class="card-header">Recherche</h5>
            <div class="card-body">
            <form action="/SearchedPosts">
              <div class="input-group">
              
                <input type="text" name="text" class="form-control" placeholder="Recherche...">
                <span class="input-group-btn">
                  <button class="btn btn-secondary" type="submit">Go</button>
                </span>
              </div>    
                        </form>

            </div>
          </div>

          <!-- Side Widget -->
          <div class="card my-4">
            <h5 class="card-header">A propos du Blog</h5>
            <div class="card-body">
            Projet Symfony : Master 2 Aigle ...
            </div>
          </div>

        </div>
  {% endblock %}