
{% extends 'base.html.twig' %}

{% block body %}

<article>

<!-- Page Content -->


        <!-- Post Content Column -->

          <!-- Title -->
          <h1 class="mt-4">{{ post.titre }}</h1>

          <!-- Author -->
          <p class="lead">
            by
            <a href="#">{{ post.Auteur}}</a>
          </p>

          <hr>

          <!-- Date/Time -->
 <p>  <time datetime="{{ post.published|date('c') }}">{{ post.published|date('l, F j, Y') }}</time></p>
          <hr>

          <!-- Preview Image  --> 
          {% if post.image != null %}
          <img class="img-fluid rounded" src="{{asset('uploads/images/' ~ post.image )}}" onerror="this.onerror=null;this.src='https://cdn.cia-france.com/blog/img/blog-cia-france-home.jpg';">
          {% endif %}
          <hr>

          <!-- Post Content -->
                  <p>{{ post.contenu | raw}}</p>

          <hr>
          
          {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}



         <div class="card my-4">
            <h5 class="card-header">Ajouter un commentaire</h5>
            <div class="card-body">
              <form action="/newComment">
                <div class="form-group">
                  <textarea name="contenu" class="form-control" rows="3"></textarea>
                </div>
                <div class="form-group">
                  <input name="blogid" class="form-control" value ={{post.id}} type="hidden"  required="required" ></input>
                </div>
                <button type="submit" class="btn btn-primary">Commenter</button>
              </form>
            </div>
          </div>

       {% if post.getComments() is empty %}
          <br>

          <p class="center" >
          <div  class="alert alert-primary" role="alert">
          Soyez le premier à commenter 
          </div>
          </p>

          {% endif %}

            {% else %}

            <div class="alert alert-danger" role="alert">
   <a href="/login" class="alert-link"> Connectez vous </a> afin d'ajouter un Commentaire
           </div>

            {% endif %}



  


        {# {{ render 'AppBundle:Comment:new' , { 'blog_id': blog.id } }} #}


        <!-- Single Comment -->

         {% for comment in post.getComments() %}

          <div class="media mb-4">
            <img class="d-flex mr-3 rounded-circle" src="http://bootdey.com/img/Content/user_1.jpg" alt="">
            <div class="media-body">
              <h5 class="mt-0"> <a href=""><b>{{comment.auteur}}</b></a> </h5>
                                      <h6 class="text-muted time">

              <p>  <time datetime="{{ comment.published|date('c') }}">{{ comment.published|date('l, F j, Y') }}</time></p>

              </h6>
               {{comment.contenu}}
            </div>
          </div>
                      {% endfor %}








<br>
<br>
<br>

</article>



{% endblock %}

{% block sides %}


    <!-- Sidebar Widgets Column -->
        <div class="col-md-4">

          <!-- Search Widget -->
          <div class="card my-4">
            <h5 class="card-header">Recherche</h5>
            <div class="card-body">
            <form action="/SearchedPosts">
              <div class="input-group">
              
                <input type="text" name="text" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                  <button class="btn btn-secondary" type="submit">Go</button>
                </span>
              </div>    
                        </form>

            </div>
          </div>

          <!-- Side Widget -->
          <div class="card my-4">
            <h5 class="card-header">A propos du Blog</h5>
            <div class="card-body">
            Projet Symfony : Master 2 Aigle ...
            </div>
          </div>

        </div>
  {% endblock %}
